<div class="section container">
  <div class="row">
    <div class="row card-panel">
      <table id="tabla">
        <thead>
          <tr>
            <th>Campaña</th>    
            <th>N° Personas</th> 
            <th>Dinero</th>      
          </tr>
        </thead>
        <tbody>
          {{#each countCampanias}}
            <tr>
              <td>{{this.campania}}</td>
              <td>{{this.numero}}</td>
              <td>{{this.dinero}}</td>
                            
             </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>