<div class='container_inicio'>
  <div class='row center'>
    <div class='col s10 m8 offset-m2 offset-s1'>
      <img src='/img/undraw_Mailbox_re_dvds.svg' alt='Imagen Inicio' />
    </div>
  </div>
</div>