<div class="container-login">
  <img class="wave" src="/img/wave.png" alt="Img" />
  <div class="img">
    <img src="/img/undraw_Booked_re_vtod.svg" alt="Fondito" />
  </div>
  <div class="login-container">
    <form action="/login" method="POST">
      <img class="avatar" src="/img/undraw_female_avatar_w3jk.svg" alt="Avatar" />
      <h2>Welcome</h2>
      <div class="input-div one">
        <div class="i">
          <i class="material-icons">account_box</i>
        </div>
        <div>
          <h5>Username</h5>
          <input class="input" type="text" id="username" name="username" autocomplete="off" />
        </div>
      </div>
      <div class="input-div two">
        <div class="i">
          <i class="material-icons">vpn_key</i>
        </div>
        <div>
          <h5>Password</h5>
          <input class="input" type="password" id="password" name="password" />
        </div>
        <div id="hideShowPassWord" class="hideShowPassWord">
          <i class='bx bx-show-alt'></i>
        </div>
      </div>
      <a href="#"></a>
      <input type="submit" class="btn" value="Login" />
    </form>
  </div>
</div>
<script src="/js/login.js"></script>